/* modificar foto  */
.interna_contato {
    background: url("../img/bg-contato.jpg")no-repeat center;
    background-size: cover;
}

/* Contato início */
.contato {
    padding: 40px 0;  /* espaço entre enviar a final da página no top e em baixo */
}

.contato_form {
    padding-right: 60px;
}

.contato_form label {
    display: block;  /* Organizar Nome, E-mail, Telefone e Especificações */
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 4px;
}

/* Criar margem modificando nome, email e telefone */
.contato_form input {
    display: block;
    width: 100%;
    border: 4px solid #4B22AA;
    background: none;
    padding: 7px 10px;
    margin-bottom: 10px;
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', serif;
}

/* modificar especificações */
.contato_form textarea{
    display: block;
    width: 100%;
    height: 120px;  /* modifica tamanho da altura */
    border: 4px solid #4B22AA;
    background: none;
    padding: 7px 10px;
    margin-bottom: 20px; /* modificar de 10 para 20px*/
    outline: none;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', serif;
}

.contato_form button {
    padding: 7px 40px;
    background: none;
}

.contato_dados {
    color: #ffffff;
}

/* criar estilo para os dados com nome astral diamond */
.contato_dados h4 {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #4B22AA;
    font-weight: bold ;
}

.contato_dados span {
    color: #000000; /* adicionando cor na fonte */
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', serif;
}

/* even verifica apenas os pares dentro de span */
.contato_dados span:nth-of-type(even) {
    margin-bottom: 30px;
    /* background: blue; verificar apenas os pares */
}

.contato_dados ul {
    margin-top: 10px;
}

/* colar estilo de footer no arquivo style.css */
.contato_dados ul li {
    display: inline-block;
    margin-right: 10px; /* mudando de 5px para 10px e left para right*/
}

/* colocando borda de 3px, deixando display block e um padding 3px */
.contato_dados ul li a {
    border: 3px solid #4B22AA;
    display: block;
    padding: 10px; /* mudando de 3px para 10px*/
}

/* modificar a borda para branco para saber que é clicável */
.contato_dados ul li a:hover {
    border-color: #000000;
}

/* margem para o mapa e bicicleta */
.contato_mapa {
    margin-bottom: 60px;
}